annotated-types
anyio
autopep8
boto3
botocore
click
distlib
exceptiongroup
fastapi
filelock
h11
idna
jmespath
joblib
numpy
pandas
platformdirs
pycodestyle
pydantic
pydantic_core
PyMySQL
python-dateutil
python-dotenv
pytz
s3transfer
scikit-learn
scipy
six
sniffio
SQLAlchemy
starlette
threadpoolctl
tomli
typing_extensions
tzdata
urllib3
uvicorn
virtualenv
